.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.profileButton {
    position: fixed;
    top: 36px;
    right: 36px;    
    border-radius: 100px; /* 의논 해봐야겠음 */
    border: none;
    background: none;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.homeButton {
    position: fixed;
    bottom: 36px;
    left: 36px;
    border-radius: 100px;
    border: none;
    background-color: var(--main-color);
    cursor: pointer;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    padding: 24px;

}