#logo {
    width: 284px;
    height: 169px;
    border-radius: 50px;


    /* margin */
    margin-top: 300px;
}

#searchContainer {
    display: flex;
    flex-direction: column;
    border: 2px solid var(--main-color);
    border-radius: 40px;
    margin-top: 50px;
    transition: ease-out 1s;
    overflow: hidden;

    width: var(--search-input-width);    
}

#inputContainer {
    display: flex;
    flex-direction: row;
    margin: var(--margin-y) var(--margin-x);
    align-items: center;
}

#input {
    font-size: 24px;
    font-weight: 600;
    width: 100%;
    border: 0px solid white;
}

#searchButton {
    cursor: pointer;
    width: 36px;
    height: 36px;
}