.screenContainer {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin: 2rem;
  width: 62rem;

  gap: 4.8rem;

}

/* header */

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  gap: 1.7rem;
}

.icon {
  width: 18rem;
}

.headerText {
  color: var(--main-color);
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.07rem; 
}

/* footer */

.footer {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  width: 100%;
}

.listViewContainer {
  display: flex;
  flex-direction: row;
  
  gap: 1rem;
}


@media (max-width: 700px) {
  
  .listViewContainer {
    flex-direction: column;
  }
}