.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}


.searchInput {
    width: 100%;
    border: 0px solid black;
    color: black;
    font-size: 24px;
    font-weight: 600;
}

.searchInput::placeholder {
    color: var(--main-color);
    opacity: 40%;
}

.searchInput:focus {
    outline: none;
}