.mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    align-items: flex-start;
    background: none;
    
    width: 1300px;
    border: 2px solid var(--main-color);
    border-radius: 30px;

    padding: 36px 48px;

}

.head {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 8px;
}

.title {
    color: black;
    font-size: 28px;
    font-weight: 700;
    text-align: left;
}

.date, .type{
    color: black;
    font-size: 20px;
    font-weight: 400;
    text-align: left;
}

.content {
    color: black;
    font-size: 20px;
    font-weight: 600;
    text-align: left;
}