#mainContainer {
    display: flex;
    flex-direction: column;
    margin-top: 36px;
    justify-content: start;
    align-items: center;
}

#searchContainer {
    display: flex;
    flex-direction: row;
    padding: var(--margin-y) var(--margin-x);
    border: 2px solid var(--main-color);
    border-radius: 100px;
}

#searchInput {
    width: var(--search-input-width);
    border: 0px solid black;
    color: black;
    font-size: 24px;
    font-weight: 600;
}


#categoryContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 480px;

    margin-top: 60px;
}

.category {
    padding: 16px 36px;
    border: 1.5px solid var(--main-color-light);
    border-radius: 100px;
}

#contentContainer {

}