#container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding: var(--margin-y) var(--margin-x);
    transition: ease-in-out 0.2s;

    width: 100%;
    
}

#container:hover {
    /* TODO */
    background-color: var(--gray);
}

#text {
    color: black;
    font-size: 24px;
    font-weight: 400;
    cursor: pointer;
    width: 100%;
}

#closeImage {
    width: 24px;
    height: 24px;
    cursor: pointer;
}