@font-face {
    font-family: "font";
    /* src: url("./fonts/fontRegular.woff2") format("woff2"); */
    src: url("./fonts/fontRegular.woff") format("woff"),
         url("./fonts/fontRegular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "font";
    /* src: url("./fonts/fontSemiBold.woff2") format("woff2"); */
    src: url("./fonts/fontSemiBold.woff") format("woff"),
         url("./fonts/fontSemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "font";
    /* src: url("./fonts/fontBold.woff2") format("woff2"); */
    src: url("./fonts/fontBold.woff") format("woff"),
         url("./fonts/fontBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "testFont";
    src: url("./fonts/testFont.ttf") format("truetype");
    font-weight: 100 900;
    font-style: normal;
}

:root {
    --main-color: #4175F9;
}

body {
    margin: 0px;
    font-family: "font";
}

* { font-family: "font" }