:root {
    --main-color: #49507C;
    --gray: #D9D9D9;
    --main-color-light: #fff;
}

body {
    margin: 0px;
}

::placeholder {
    color: var(--main-color);
    opacity: 40%;
}

input:focus {
    outline: none;
}