@import url(./assets/fonts/pretendard.css);
@font-face {
    font-family: "testFont";
    src: url(./assets/fonts/testFont.ttf);
}

:root {
    --main-color: #4175f9;
    --background-color: #e7e8ef; /* FAFBFF */
    --black: #3F414A;
    --white: #fafafa;

    --main-color-rgb: 65, 117, 249;
    --background-color-rgb: 250, 250, 250;
    --black-rgb: 63, 65, 74;

    --font-name: "Pretendard";
}

body {
    background-color: var(--background-color);
    margin: 0px;
}

* { 
    font-family: var(--font-name);
    letter-spacing: -0.5px;

    box-sizing: border-box;

    font-size: 10px;

    cursor: default;
}

@media (min-width: 2000px) {
    * {
        font-size: 15px;
    }
}

@media (max-width: 2000px) {
    * {
        font-size: 15px;
    }
}

@media (max-width: 1000px) {
    * {
        font-size: 10px;
    }
}

@media (max-width: 300px) {
    * {
        font-size: 7px;
    }
}